<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/form.css">
    <title>New Message Form</title>
</head>
<body>
    <form method="POST" action="/new">
        <h1>Add New Message</h1>
        <label for="textmsg">
            Message:
            <textarea required name="textmsg" id="textmsg" rows="2"></textarea>
        </label>
        <label for="author">
            Author:
            <input required type="text" name="author" id="author">
        </label>
        <input type="submit" value="Submit">
    </form>
</body>
</html>