<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Mini Messaging App</title>
</head>
<nav>
    <ul>
        <li><a class="anchors" href="new">Add a new message</a></li>
    </ul>
</nav>
<body>
    <dl>
        <% messages.forEach((el,i) => { %>
            <div>
                <dt>User</dt>
                <dd>from: <%= el.user %></dd>
                <dt>Text</dt>
                <dd><%= el.text %></dd>
                <dt>Date</dt>
                <dd><%= el.added %></dd>
            </div>
            <form method="GET" action="/details">
                
                <input type="hidden" name="index" value="<%= i %>" /> 
                <button type="submit">Edit Details</button></form>
            <% if (i < messages.length-1)  { %>
                <hr>
            <% } %>
        <% }); %>
    </dl>
</body>
</html>